@import "../../style-config/mixins.scss", "../../style-config/variable.scss";

.about-content-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-top: 25px;
    // flex-wrap:wrap;
    @include small-screen {
        flex-direction: row;
        margin-top: 75px;
    }
    .left-col {
        width: 100%;
        @include small-screen {
            width: 35%;
        }

        .highlights {
            border-radius: 6px;
            padding: 20px;
            margin-bottom: 20px;
            @include glassmorphism-effect;
            h3{
                text-align: center;
                color: $yellow;
                @include typography(20px, 500, 24px);
                margin-bottom:10px;
                @include small-screen {
                 @include typography(24px, 500, 24px); 
                }
            }
            .horizontal {
                display: flex;
                align-items: center;
            }
            .icon{
                width: 55px;
                height: 55px;
                min-width: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: $yellow;
                font-size: 24px;
                color:$black-light;
            }
            .text {
                padding-left: 10px;
                color: $white;
                opacity: 0.7;
                @include typography(18px, 500, 24px);
                span{
                    color: $white;
                    font-weight: bold;
                }
                    svg{
                        padding-top:3px; 
                        cursor: pointer;
                        // color: $black;
                    }
            }    
        }
    }
    .right-col {
        width: 100%;
        color: $white;
        text-align: center;
        margin-top: 25px;
        @include small-screen {
            margin-left: 70px;
            width:70%;
            // width: calc(60% - 70px);
            text-align: left;
            margin-top: 0;
        }
        p {
            @include typography(14px, 400, 20px);
            margin-bottom: 15px;
            letter-spacing: 1px;
            @include small-screen {
                @include typography(18px, 400, 24px);
            }
        }
        .call-to-action {
            margin: 0 auto;
            @include small-screen {
                margin:0;
                
            }
        }
    }
}

