@import "../../../style-config/mixins.scss",
  "../../../style-config/variable.scss";

.home-content-wrapper {
  width: 100%;
  padding: 50px 0;
  @include small-screen {
    padding: 100px 0; 
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h3{
      display: flex;
      align-items: center;
      justify-content: center;
      color:$white;
      @include typography(32px, 400, 20px);
      @include small-screen {
        @include typography(40px, 400, 30px); 
      }
      span{
        margin-left: 7px;
      }
    }
    h1 {
      color:$white;
      margin:10px auto;
      @include typography(35px, 500, 30px);
      @include small-screen {
        @include typography(50px, 500, 30px); 
        margin:20px auto;
      }
    }
    h2 {
      padding: 13px 0;
      color:$yellow;
      @include typography(27px, 400, 30px);
      @include small-screen {
        @include typography(35px, 400, 30px);
        padding: 20px 0; 
      }
    }
    .intro{
     max-width:770px;
      display: flex;
      //flex-wrap: wrap;
      flex-flow: row wrap;
    p {
        color:$white;
        opacity: 0.8;
        letter-spacing: .7px;
      @include typography(16px, 400, 20px);
      @include small-screen {
        @include typography(19px, 400, 24px); 
      }
    }
  }

    .highlights {
        width: 90px;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        border-radius: 50%;
        margin:15px auto;
        @include glassmorphism-effect;
        @include small-screen {
          width: 120px;
          height: 120px;
        }

        .text {
             padding-top: 10px;
            @include typography(18px, 400, 20px);
            color: $black-light;
            @include small-screen {
              @include typography(20px, 500, 24px);
            }
            &:hover{
                color: $white;
            }
        }
        .icon{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $yellow;
            font-size: 25px;
            color: $black-light;
            @include small-screen {
              width: 35px;
              height: 35px;
            }
        }    
    }  
  }
}

