@import "../../style-config/variable.scss";
@import "../../style-config/mixins.scss";

.footer {
    padding-bottom: 0;
}
.footer-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .footer-menu-items {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        // position: relative;
        //margin-top: 30px;
        .footer-menu-item {
            @include typography(14px, 400, 20px);
            color: $white;
            margin: 0 10px;
            cursor: pointer;
            @include small-screen {
                margin: 0 12.5px;
                @include typography(18px, 400, 22px);
            }
            &:hover {
                color:rgb(220,252,55);
            }
        }
    }
    .social-icons {
        display: flex;
        align-items: center;
        margin-top: 20px;
        transform: scale(0.7);
        @include small-screen {
            margin-top: 50px;
            transform: scale(1);
        }
        .social-icon {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            color: $white;
            font-size: 18px;
            margin: 0 12.5px;
            cursor: pointer;
            &:hover{
                box-shadow: 0 0 10px rgb(220,252,55), 0 0 40px rgb(220,252,55), 0 0 10px rgb(220,252,55); 
            }
            &:hover .tooltips {
                // left: 50%;
                // right: auto;
                top: -100%;
                opacity: 1;
              }

            .tooltips {
                position: absolute;
                right: auto;
                top: -50%;
                left: 50%;
                /* transform: translate(0, -70%); */
                transform: translateY(-70%);
                transform: translateX(-50%);
                padding: 7px;
                background-color:$white;
                color:$black;
                 border: 1px solid $yellow;
                border-radius: 5px;
                opacity: 0;
                transition: all 0.2s ease-out;
                @include typography(18px, 600, 22px);
              }
              
        }

    }
    .bottom-bar {
        width: 100%;
        height: 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        @include small-screen {
            margin-top: 75px;
            height: 75px;
        }
        .copyright-text {
            color: #777777;
            @include typography(14px, 400, 22px);
        }
    }
}
